:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;

  font-size: 62.5%;
  /* 1rem = 10px */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}
body {
  background-color: var(--body-bg-color);
  display: flex;
}

div.page {
  display: flex;
}
