:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;

  font-size: 62.5%; 
  /* 1rem = 10px */
}
* {
  margin: 0;
  padding: 0;
 box-sizing: border-box;
 font-family: 'Merriweather Sans', sans-serif;
 text-decoration: none;
 color: var(--text-color);
}




main div {
  color: var(--text-color);
  display: flex;
  
  border-radius: 20px;


}

main div h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 3rem 0 3rem 3rem;
}

main div ul {
  align-items: center;
  justify-content: space-between;
}

div.myProject{
  margin: 4rem 4rem 3rem 0;
  width: 95.2rem;
  height: 8.6rem;

  align-items: center;
  justify-content: space-between;

  list-style: none;
  color: var(--text-color);
  background-color: var(--bg-cards);
}

div.myProject a{
 font-size: 1.4rem;
 margin-right: 3rem;

 line-height: 1.3rem;
text-align: center;

padding: 0.8rem 0.5rem 0.7rem 0.8rem;

border-radius: 7px;
transition: 0.5s;

}
div.myProject a:hover{
background-color: #383647;
transition: 0.5s;

}

 main div.projects{
  display: flex;
background-color: var(--body-bg-color);
margin-bottom: 3rem;

}
div.projects div.project{
  width: 46.1rem;
height: 18.6rem;
flex-direction: column;
background-color: var(--bg-cards);
padding: 3rem;
}

div.projects div.project img{
  width: 2.0rem;
  height: 2.0rem;
}
div.project h4{
  font-weight: 700;
  font-size: 1.6rem;
}

div.projects div.projectOne{
  margin-right: 3rem;
}
div.projects div.project div.nameProject{
gap:1.7rem;
margin-bottom: 2rem;
}

div.projects div.project p{
  font-weight: 400;
font-size: 1.4rem;
}




div.recentPost{
  background-color: var(--bg-cards);
  width: 95.2rem;
  height: 8.6rem;
  
}
