:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;

  font-size: 62.5%;
  /* 1rem = 10px */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
  color: var(--text-color);
}

body {
  background-color: var(--body-bg-color);
  display: flex;
}

div.page {
  display: flex;

  max-width: 100vw;
  padding-left: 2rem;
  padding-top: 3rem;
  gap: 3rem;
}

@media screen and (max-width: 425px) {
  div.page {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    padding: 2rem;
    align-items: center;
  }
}
